.primary-overlay {
    background: rgba(63, 57, 77, .7);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main-header {
    background: url('../img/showcase.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 600px;
    color: #fff;
    position: relative;
}

.main-header .showcase {
    padding-top: 110px;
}

.scroll-icon {
    position: absolute;
    bottom: 5%;
    left: 47%;
    opacity: .5;
}

.section-boxes .row {
    margin-bottom: 0;
}

.section-boxes .box {
    padding: 40px 10px;
}

.section-boxes .box h4 {
    padding-bottom: 30px;
}

@media (max-width: 992px) {
    .main-header {
        height: 50vh;
    }

    .main-header .showcase {
        padding-top: 55px;
    }
}